body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2a2d4f;
}
.registration_container{
    float: left;
    width: 31%;
    height: 60%;
    margin-right: 30px;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ddd6de;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(13 ,13 ,0.1);

}
.customerRegistration{
    color: #ddd6de;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
h2{
    text-align: center;
    color: #f8ebeb;
}
.formgroup{
    margin-bottom: 30px;
}
label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"],input[type="password"],input[type="email"]{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 40px;

}
button{
    width: 30%;
    padding: 10px;
    background-color: rgba(18,220,126);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: #3273d5;
}
sup{
    color: red;
}
pre{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 11px;
    color: #0d0d0e;
}
#back{
    position: fixed;
    left: 480px;
    bottom: 10px;
    background-color: #fff;
    color:red;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50%;
}
